:root{
  --accent: "38,70,83";
  --main: #DDD;
  --text: #212529;
}
@media(prefers-color-scheme: dark){
  :root{
    --main: #111;
    --text: #E1E5E9;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(var(--accent));
  transition: background-color 1s ease;
}
